*{
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  display: flex;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#form{
  padding: 0.5rem;
}

.messages, .users-list{
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.users-list{
  width: 200px;
  border-right: 1px solid black;
}

li{
  padding: 0.5rem;
  font-size: 1.1rem;
}

.messages li:nth-child(odd){
  background: grey;
}

.user-status{
  color: red;
  background: white!important;
}


#form{
  display: flex;
  background: black;
  margin-top: auto;
}

#form input{
  flex-grow: 1;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

#form button{
  background: blue;
  border: none;
  color: white;
  cursor: pointer;
}